.error-404-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 11rem;
    margin-right: 6rem;
}

.error-404-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 45rem;
    border-top: 8px #ff914d solid;
    border-right: 8px #ff914d solid;
    border-bottom: 8px #ff914d solid;
}

.error-404-title {
    color: #ff914d;
    font-size: 11rem;
    font-weight: 900;
    z-index: 1;
}

.error-404-message {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.error-404-controls-container {
    position: relative;
    margin-top: 3rem;
}

.error-404-controls-container img {
    position: absolute;
    top: 28px;
    width: 50px;
}

.error-404-controls {
    padding-left: 8rem;
}

.error-404-controls .btn {
    color: #ff914d;
    font-size: 2.7rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.error-404-controls .btn:hover {
    background-color: #fff2e8;
}

.error-404-image-container {
    margin-left: -380px;
    margin-top: 95px;
}

.error-404-image-container img {
    width: 1120px;
}

.error-404-title,
.error-404-message,
.error-404-controls .btn {
    letter-spacing: 0.1rem;
}

.error-404-title,
.error-404-message,
.error-404-controls-container {
    padding-left: 3rem;
}

/* Utils */
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* For Large Device */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .error-404-image-container {
        margin-left: -350px;
        margin-top: 135px;
    }
}

/* For Medium Device */
@media screen and (min-width: 781px) and (max-width: 991px) {
    .error-404-container {
        margin-top: 7rem;
        margin-right: 3rem;
    }
    .error-404-image-container {
        margin-top: 50px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .error-404-container {
        margin-top: 4rem;
        margin-right: 2rem;
    }
}

/* For Mobile */
@media screen and (max-width: 320px) {
    .error-404-container {
        margin-top: 2rem;
        margin-right: 3rem;
    }
    .error-404-image-container {
        margin-left: 0;
        margin-top: 20px;
    }
    .error-404-box {
        height: 25rem;
    }
    .error-404-title {
        font-size: 8rem;
    }
    
    .error-404-message {
        font-size: 2rem;
    }
    .error-404-controls {
        padding-left: 6rem;
    }
    .error-404-controls .btn {
        font-size: 2rem;
    }
}

/* For Mobile */
@media screen and (min-width: 321px) and (max-width: 540px) {
    .error-404-container {
        margin-top: 2rem;
        margin-right: 3rem;
    }
    .error-404-image-container {
        margin-left: 0;
        margin-top: 20px;
    }
    .error-404-box {
        height: 31rem;
    }
    .error-404-title {
        font-size: 8rem;
    }
    
    .error-404-message {
        font-size: 2rem;
    }
    .error-404-controls {
        padding-left: 6rem;
    }
    .error-404-controls .btn {
        font-size: 2rem;
    }
}

/* For Mobile landscape */
@media screen and (max-width: 823px) and (orientation : landscape) {
    .error-404-container {
        margin-top: 2rem;
        margin-right: 3rem;
    }
    .error-404-image-container {
        margin-left: 0;
        margin-top: 20px;
    }
    .error-404-box {
        height: 31rem;
    }
    .error-404-title {
        font-size: 8rem;
    }
    
    .error-404-message {
        font-size: 2rem;
    }
    .error-404-controls {
        padding-left: 6rem;
    }
    .error-404-controls .btn {
        font-size: 2rem;
    }
}

/* For iPad portrait */
@media screen and (min-width : 768px) and (max-width : 1023px) and (orientation : portrait) {
    .error-404-container {
        margin-top: 2rem;
        margin-right: 3rem;
    }
    .error-404-image-container {
        margin-left: 0;
        margin-top: 20px;
    }
    .error-404-box {
        height: 31rem;
    }
    .error-404-title {
        font-size: 8rem;
    }
    
    .error-404-message {
        font-size: 2rem;
    }
    .error-404-controls {
        padding-left: 6rem;
    }
    .error-404-controls .btn {
        font-size: 2rem;
    }
}